/*
container
    first
        name
        social
        pdf
    second
        profile
        contact
        education
    third
        work-experience
        about-me
*/

*{
    /* border: 1px solid black; */
    box-sizing: border-box;
} 

a{
    text-decoration: none;
    color: #007bff;
}

body{
    align-items: center;
}

.title{
    font-size: larger;
    color: darkred;
}

/* container */
.container{
    
    display:flex;
    flex-direction:column;

    /* margin: auto;
     padding-top: 1rem;
    padding-left: 20rem;
    padding-right: 20rem; */

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;



    /* flex-wrap: wrap; */
    
}

.first{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
} 

.name{
    font-size: 2rem;
    font-family: 'Nanum Gothic', sans-serif;
}

.social{
    display: flex;
    flex-direction: row;
}

.pdf{
    flex-flow:column;
}

/* container */
.item{
    display:flex;
    flex-direction:row;
} 

.icon > img, .icon > a > img{
    height: 1.1rem;
    
}

/* .icon > a{
    height: 1.2rem;
} */



/* container */
.second{
    display:flex;
    flex-wrap: wrap;
}

/* profile */
.profile > img{
    height: 9rem;
    border: 1px solid black;
    margin: 1rem;
}


.img-fluid{
    max-width: 100%;
    height: auto;
}


/* contact */
.contact{
    flex-grow: 2;
}

/* education */
.education{
    flex-grow: 5;
    border: 1px solid #e2e2e2;
    padding: 1rem;
}

/* .education-body{
    margin: 1rem;
} */


/* container */
.third{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
}

.work-experience{
    flex-grow: 1;
}
.about-me{
    flex-grow: 1;
}


/* company */
.company{
    padding-top: 1rem;
}
.company-head{
    background-color:rgb(208 243 255);
    border-top: 1px solid black;
}
.company-dt{
    text-align: right;
}
.company-region{
    font-size: small;
}
.company-name{
    font-weight: bold;
}
.company-what {
    font-size: 0.9rem;
}
code{
    color:crimson;
    padding: 3px;
}
.mywork{
    border-left: 0.3rem dotted #b5e87e ;
    padding-left: 0.5rem;
}
.role{
    background-color:#e2e2e2;
}
.role-detail{
    padding: 3px;
}

game-title{
    color: crimson;
}

