*{
    border: 1px solid black;
    box-sizing: border-box;
} 

body{
    align-items: center;
}

.title{
    font-size: larger;
    color: darkred;
}


/* container */
.container{
    width: 60rem;
    height: 70rem;
    margin: auto;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    
}

/* container */
.item{
    display:flex;
    flex-direction:row;
} 

.icon > img, .icon > a > img{
    height: 1.1rem;
    
}

.icon > a{
    height: 1.2rem;
}

 .first{
    text-align: center;
} 

/* container */
.second{
    display:flex;
    flex-wrap: wrap;
}

.profile > img{
    height: 9rem;
    border: 1px solid black;
    margin: 1rem;
}

.contact{
    flex-grow: 1;
}

.education{
    flex-grow: 1;
}

/* .third{

}  */