/*
container
    first
        name
    second
        profile
        contact
        education
    third
*/

*{
    /* border: 1px solid black; */
    box-sizing: border-box;
} 

body{
    align-items: center;
}

.title{
    font-size: larger;
    color: darkred;
}

/* container */
.container{
    /* width: 60rem;
    height: 70rem; */
    margin: auto;
    display:flex;
    flex-direction:column;
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    /* flex-wrap: wrap; */
    
}

.name{
    font-size: 2rem;
    font-family: 'Nanum Gothic', sans-serif;
}

/* container */
.item{
    display:flex;
    flex-direction:row;
} 

.icon > img, .icon > a > img{
    height: 1.1rem;
    
}

.icon > a{
    height: 1.2rem;
}

 .first{
    text-align: center;
} 

/* container */
.second{
    display:flex;
    flex-wrap: wrap;
}

.profile > img{
    height: 9rem;
    border: 1px solid black;
    margin: 1rem;
}

.contact{
    flex-grow: 1;
}

.education{
    flex-grow: 1;
}

.company-head{
    background-color:lightskyblue;
}
.company-dt{
    text-align: right;
}
.company-region{
    font-size: small;
}
.company-name{
    font-weight: bold;
}

code{
    color:crimson;
}

.mywork{
    border-left: 3px dotted #b5e87e;
}
.role{
    background-color:#e2e2e2;
}
.role-detail{
    padding: 3px;
}

game-title{
    color: crimson;
}

/* .third{

}  */